@model IEnumerable<WebProject.Models.Message>
<link href="~/css/admin.css" rel="stylesheet" />
@inject LanguageService language
<h1>@language.GetKey("messagetitle")</h1>

<p>
    <a style="margin-left:100px" asp-action="Create">@language.GetKey("messagecreate")</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @language.GetKey("messagename")
            </th>
            <th>
                @language.GetKey("messagemail")
            </th>
            <th>
                @language.GetKey("messagemessage")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Messages)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@language.GetKey("messageedit")</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@language.GetKey("messagedetails")</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@language.GetKey("messagedelete")</a>
                </td>
            </tr>
        }
    </tbody>
</table>