@page
@model LoginModel
@inject LanguageService language
<link href="~/css/login.css" rel="stylesheet" />

<form style="width:350px;" class="login-form" id="account" method="post">
    <h2>@language.GetKey("logintitle")</h2>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-input-material">
        <label asp-for="Input.Email" class="form-label">@language.GetKey("loginmail")</label>
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-input-material">
        <label asp-for="Input.Password" class="form-label">@language.GetKey("loginpassword")</label>
        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div>
        <div class="form-input-material checkbox">
            <label asp-for="Input.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                <!--Html.DisplayNameFor(m => m.Input.RememberMe)-->
                @language.GetKey("loginremember")
            </label>
        </div>
    </div>
    <div>
        <button id="login-submit" type="submit" class="btn btn-primary">@language.GetKey("loginbutton")</button>
    </div>
    
</form>
  

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
