@model WebProject.Models.Animal
@inject LanguageService language
@{
    ViewData["Title"] = "Details";
}
<link href="~/css/admin.css" rel="stylesheet" />


<div class="login-form">
    <dl class="row">
        <h1 style="color:white">@language.GetKey("Mdetailtitle")</h1>
        <dt class="control-label col-sm-2">
            @language.GetKey("animalbreed")
        </dt>
        <dd class="form-control col-sm-10">
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt class="control-label col-sm-2">
            @language.GetKey("animalage")
        </dt>
        <dd class="form-control col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="control-label col-sm-2">
            @language.GetKey("animalinfo")
        </dt>
        <dd class="form-control col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class="control-label col-sm-2">
            @language.GetKey("animalimage")
        </dt>
        <dd class="form-control col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="control-label col-sm-2">
            @language.GetKey("animalcord")
        </dt>
        <dd class="form-control col-sm-10">
            @Html.DisplayFor(model => model.CorD)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@language.GetKey("messageedit")</a> |
    <a asp-action="Index">@language.GetKey("messageback")</a>
</div>
