@model IEnumerable<WebProject.Models.Animal>
@inject LanguageService language
@{
    ViewData["Title"] = "Listed Animals";
}
<link href="~/css/admin.css" rel="stylesheet" />
<h1 style="margin-left:60px; color:white">@language.GetKey("animaltitle")</h1>

<p style="margin-left:60px;">
    <a asp-action="Create">@language.GetKey("messagecreate")</a>
</p>
<table style="margin-top:100px;" class="table">
    <thead>
        <tr>
            <th>
                @language.GetKey("animalbreed")
            </th>
            <th>
                @language.GetKey("animalage")
            </th>
            <th>
                @language.GetKey("animalimage")
            </th>
            <th>
                @language.GetKey("animalinfo")
            </th>
            <th>
                @language.GetKey("animalcord")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorD)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@language.GetKey("messageedit")</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@language.GetKey("messagedetails")</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@language.GetKey("messagedelete")</a>
            </td>
        </tr>
}
    </tbody>
</table>
