@model WebProject.Models.Animal

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/admin.css" rel="stylesheet" />


<div class="login-form">
    <dl class="row">
        <h1 style="color:white">Details</h1>
        <dt class="control-label col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class="form-control col-sm-10">
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt class="control-label col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="form-control col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="control-label col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class="form-control col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class="control-label col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="form-control col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="control-label col-sm-2">
            @Html.DisplayNameFor(model => model.CorD)
        </dt>
        <dd class="form-control col-sm-10">
            @Html.DisplayFor(model => model.CorD)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="EditAnimals">Back to List</a>
</div>
