@model IEnumerable<WebProject.Models.Kullanici>
@inject LanguageService language
@{
    ViewData["Title"] = "Listed Animals";
}
<link href="~/css/admin.css" rel="stylesheet" />



<table class="table">
    <h1 style="color:white">@language.GetKey("usertitle")</h1>
    <thead>
        <tr>
            <th>
                @language.GetKey("username")
            </th>
            <th>
                @language.GetKey("userlastname")
            </th>
            <th>
                @language.GetKey("usermail")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                
            </tr>
        }
    </tbody>
</table>