@model WebProject.Models.Message
<style>
    .myslide{
        display:none;
    }
</style>
<!-- Top menu -->
@inject LanguageService language

<div class="w3-top">
    <div class="w3-white w3-xlarge" style="max-width:1535px">
        <div class="w3-button w3-padding-16 w3-left"></div>
        <div class="w3-right w3-padding-16"></div>
        <div class="w3-center w3-padding-16" style="padding-top:10px">@language.GetKey("title")</div>
    </div>
</div>
<div class="myslide">
    <img src="~/img/back2.jpg" style="width:100%" />
</div>
<div class="myslide">
    <img  src="~/img/back3.jpg" style="width:100%" />
</div>
<div class="myslide">
    <img src="~/img/dog3.jpg" style="width:100%" />
</div>

<!-- About Section -->
<div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
        <img src="~/img/back1.jpg" class="w3-round w3-image " alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center">@language.GetKey("aboutus")</h1><br>
        <h5 class="w3-center">@language.GetKey("since")</h5>
        <p class="w3-large">The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use <span class="w3-tag w3-light-grey">seasonal</span> ingredients.</p>
        <p class="w3-large w3-text-grey w3-hide-medium">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>

<hr>

<!-- Menu Section -->
<div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
        <h1 class="w3-center">Our Branches</h1><br>
        <h4>Bread Basket</h4>
        <p class="w3-text-grey">Assortment of fresh baked fruit breads and muffins 5.50</p><br>

        <h4>Honey Almond Granola with Fruits</h4>
        <p class="w3-text-grey">Natural cereal of honey toasted oats, raisins, almonds and dates 7.00</p><br>

        <h4>Belgian Waffle</h4>
        <p class="w3-text-grey">Vanilla flavored batter with malted flour 7.50</p><br>

        <h4>Scrambled eggs</h4>
        <p class="w3-text-grey">Scrambled eggs, roasted red pepper and garlic, with green onions 7.50</p><br>

        <h4>Blueberry Pancakes</h4>
        <p class="w3-text-grey">With syrup, butter and lots of berries 8.50</p>
    </div>

    <div class="w3-col l6 w3-padding-large">
        <img src="~/img/back5.jpg" class="w3-round w3-image " alt="Menu" style="width:100%">
    </div>
</div>

<hr>


<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">@language.GetKey("contact")</h2>
    <p class="w3-opacity w3-center"><i>@language.GetKey("contactsoru")</i></p>
    <div class="w3-row w3-padding-32">
        <div class="w3-col m6 w3-large w3-margin-bottom">
            <i class="fa fa-map-marker" style="width:30px"></i> Sakarya, TÜRKİYE<br>
            <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
            <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
        </div>
        <div class="w3-col m6">
            <form asp-action="Index" asp-controller="About" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">@language.GetKey("contactname")</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mail" class="control-label">@language.GetKey("contactmail")</label>
                    <input asp-for="Mail" class="form-control" />
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Messages" class="control-label">@language.GetKey("contactmessage")</label>
                    <input asp-for="Messages" class="form-control" />
                    <span asp-validation-for="Messages" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value=@language.GetKey("contactbutton") class="w3-button w3-black w3-section" />
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
    <p>Tüm Hakları Saklıdır 2022</p>
</footer>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
<script>
    // Automatic Slideshow - change image every 4 seconds
    var myIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("myslide");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 4000);
    }

</script>

