@model WebProject.Models.Application
@inject LanguageService language
@{
    ViewData["Title"] = "Details";
}
<link href="~/css/admin.css" rel="stylesheet" />


<div style="background-color:rgb(26, 30 ,35);" class="login-form">
    <dl class="row">
        <h1 style="color:white">@language.GetKey("Mdetailtitle")</h1>
        <dt class="control-label col-sm-2">
            @language.GetKey("appusername")
        </dt>
        <dd class="form-control col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="control-label col-sm-2">
            @language.GetKey("appanimal")
        </dt>
        <dd class="form-control col-sm-10">
            @Html.DisplayFor(model => model.AnimalId)
        </dd>
        <dt class="control-label col-sm-2">
            @language.GetKey("appname")
        </dt>
        <dd class="form-control col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="control-label col-sm-2">
            @language.GetKey("applastname")
        </dt>
        <dd class="form-control col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="control-label col-sm-2">
            @language.GetKey("appaddress")
        </dt>
        <dd class="form-control col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class="control-label col-sm-2">
            @language.GetKey("appphone")
        </dt>
        <dd class="form-control col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class="control-label col-sm-2">
            @language.GetKey("appexp")
        </dt>
        <dd class="form-control col-sm-10">
            @Html.DisplayFor(model => model.Explanation)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@language.GetKey("messageedit")</a> |
    <a asp-action="Index">@language.GetKey("messageback")</a>
</div>
